.music {
  width: 100%;
  height: 100vh;
  background: rgb(15, 18, 20);
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  .music__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2000px;
    height: 100%;
    padding-bottom: 80px;
    z-index: 999;
    .row {
      height: 100%;
      width: 100%;
      .row__flex_row {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 10px;
        z-index: 999;
        @media (max-width: 578px) {
          flex-direction: column;
        }
        .row__flex_row_item {
          height: 100%;
        }
        .row__flex_row_left {
          width: 20%;
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 15px;
          @media (max-width: 578px) {
            width: 80%;
          }
          .row__flex_row_left-flex {
            height: 97%;
            width: 100%;
            align-self: center;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            .row__flex_row_left-header {
              width: 80%;
              height: 200px;
              margin-top: 25px;
              color: gray;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid rgba(51, 51, 51, 0.379);
            }
            .row__flex_row_left-body {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              .artist-left {
                font-weight: lighter;
              }
            }
          }
        }

        .row__flex_row_right {
          width: 76%;
          margin-right: 10px;

          display: flex;
          flex-direction: column;
          justify-content: center;

          .music-what {
            height: 97%;
            width: 100%;
            align-self: center;

            // background-color: rgba(0, 0, 0, 0.831);
            border-radius: 7px;
            .music__flex {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              padding-bottom: 20px;
              .music__header {
                height: 7%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 10px;
                padding: 40px 0 10px 0;

                .music__header_item {
                  display: flex;
                  align-items: center;
                  &.music__playlist {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    overflow-x: auto;
                    cursor: pointer;

                    &::-webkit-scrollbar {
                      height: 5px;
                    }

                    &::-webkit-scrollbar-track {
                      background: #f1f1f1;
                    }

                    &::-webkit-scrollbar-thumb {
                      background: #888;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                      background: #555;
                    }
                    .music__header__playlist-name {
                      white-space: nowrap;
                    }
                    .active {
                      color: orange;
                      cursor: default;
                      &:hover {
                        color: white;
                      }
                    }
                    span {
                      padding: 7px 15px;
                      border-radius: 7px;
                      font-size: 0.875rem;
                      background-color: rgb(27, 27, 34);
                      border: 1px solid rgba(51, 51, 51, 0.379);
                      &:hover {
                        background-color: rgba(42, 38, 38, 0.995);
                        color: orange;
                      }
                    }
                  }
                  &.music__right-items {
                    display: flex;
                    gap: 10px;
                  }
                  .music__playlist-add {
                    display: flex;
                    background-color: rgb(27, 27, 34);
                    border: 1px solid rgba(51, 51, 51, 0.379);
                    border-radius: 7px;
                    padding: 5px;
                    &:hover {
                      background-color: rgba(42, 38, 38, 0.995);
                    }
                  }
                  .music__upload {
                    display: flex;
                    background-color: rgb(27, 27, 34);
                    border: 1px solid rgba(51, 51, 51, 0.379);
                    border-radius: 7px;
                    padding: 5px;
                    &:hover {
                      background-color: rgba(42, 38, 38, 0.995);
                    }
                  }
                }
              }
              .music__body {
                height: 90%;
                margin-top: 10px;
                width: 100%;

                .music__body_flex {
                  display: flex;
                  flex-direction: column;
                  height: 100%;
                  .bodyhead {
                    display: flex;

                    justify-content: space-between;
                    width: 100%;
                    height: 40px;
                    padding: 10px 15px;
                  }
                  .bodycontent {
                    cursor: default;
                    margin-top: 10px;
                    overflow: auto;
                    height: 100%;
                    .bodycontent__flex {
                      display: flex;
                      flex-direction: column;
                      gap: 5px;
                      .bodycontent__flex_item {
                        border-radius: 10px;
                        background-color: rgb(27, 27, 34);
                        border: 1px solid rgba(51, 51, 51, 0.379);
                        display: flex;
                        justify-content: space-between;
                        height: 100%;
                        font-size: 14px;
                        padding: 15px;
                        &:hover {
                        }
                        .music__item {
                          display: flex;
                          gap: 15px;
                          .col__inside {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .info__inside {
                              font-size: 0.75rem;
                              margin-left: 14px;
                              color: gray;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
