.music {
  width: 100%;
  height: 100vh;

  .music__layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    z-index: 999;
    .row {
      height: 100%;
      width: 100%;
      .row__flex_row {
        display: flex;
        align-items: center;
        height: 100%;

        width: 100%;
        gap: 10px;
        z-index: 999;
        .row__flex_row_item {
          height: 100%;
        }
        .row__flex_row_left {
          background-color: rgb(232, 232, 232);
          width: 30%;
        }

        .row__flex_row_center {
          background-color: green;
          width: 45%;
        }

        .row__flex_row_right {
          width: 30%;
          display: flex;
          flex-direction: column;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
          .music {
            height: 100%;
            .music__flex {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;

              .music__header {
                height: 5%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 10px;
                padding: 40px 10px 10px 10px;

                .music__playlist {
                  display: flex;
                  align-items: center;
                  gap: 15px;

                  cursor: pointer;
                  .active {
                    border-bottom: 3.5px solid orange;
                    cursor: default;
                  }
                  span {
                    font-size: 0.875rem;
                    &:hover {
                      color: orange;
                    }
                  }
                }
                .music-header-item {
                }
              }
              .music__body {
                height: 90%;
                margin-top: 10px;
                width: 100%;
                .music__body_flex {
                  display: flex;
                  flex-direction: column;
                  height: 100%;
                  .bodyhead {
                    display: flex;

                    justify-content: space-between;
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                  }
                  .bodycontent {
                    cursor: default;
                    margin-top: 10px;
                    overflow-y: auto;
                    height: 100%;
                    .bodycontent__flex {
                      display: flex;
                      flex-direction: column;
                      gap: 20px;
                      .bodycontent__flex_item {
                        display: flex;
                        justify-content: space-between;
                        height: 100%;
                        font-size: 14px;
                        padding: 10px;
                        &:hover {
                          background-color: rgba(0, 0, 0, 0.1);
                        }
                        .music__item {
                          display: flex;
                          gap: 15px;
                          .col__inside {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .info__inside {
                              font-size: 0.75rem;
                              margin-left: 14px;
                              color: gray;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
