.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2000;
  .footer__flex {
    background-color: rgb(27, 27, 34);
    width: 100%;

    border: 1px solid rgba(51, 51, 51, 0.379);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .footer__flex-cols {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 600px;
      .footer__flex-rows-icons {
        display: flex;
        height: 50px;
      }
      .footer__progress {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 0;
        .footer__progress-duration {
          width: 60px;
          font-size: 14px;
        }
      }
      .footer__volume {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 120px;
        right: 50px;
        bottom: 30px;
        @media (max-width: 578px) {
          width: 50px;
          right: 0;
          bottom: 40px;
          transform: rotate(-90deg);
        }
        .volume__icons {
          @media (max-width: 578px) {
            display: none;
          }
        }
      }
    }
  }
}
